In [2]:
import pandas as pd
import numpy as np
import sys

# 1) Write Python program which accepts list named: randomList = ['a', 0,2].
#Use exception handling using try-catch which

In [2]:
randomList = ['a', 0, 2]

for x in randomList:
    try:
        print("The entry is", x)
        r = 1/x
        break
    except:
        print("Oops!",sys.exc_info()[0],"occured.")
        print("Next entry. \n ",)
print("The reciprocal of",x,"is",r)

The entry is a
Oops! <class 'TypeError'> occured.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

# 2) Array out of Bound Exception

In [3]:
array = [1,2,3]

def valueof():
        try:
            val = int(input("Enter your index value : "))
            print("Your value is ")
            print(array[val])
        except:
            print("Oops!",sys.exc_info()[0],"occured.")
            
valueof()

Enter your index value : 4
Your value is
Oops! <class 'IndexError'> occured.

# 3) Write a python module script that contains fib2() method to calculate the Fibonacci series till 1000 and save it as fibo.py.

In [5]:
import fibo
fibo.fib(1000)

1 1 2 3 5 8
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

# 4) Write a python module script that contains ispalindrome() method to calculate the input string as palindrome string or not and save it as palindrome.py.

In [6]:
import palindrome
palindrome.isPalindrome("AcadGlid")

['a', 'c', 'a', 'd', 'g', 'l', 'i', 'd']
['d', 'i', 'l', 'g', 'd', 'a', 'c', 'a']
Ooooops....! It is not palindrome

# I. Read the dataset using pandas.

In [9]:
tags = pd.read_csv('ml-20m/tags.csv')
tags.shape

(465564, 4)

#II. Extract the first row from tags and print its type.

In [10]:
firstrow = tags.head(1)
firstrow
#tags.head(1)

   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180

#print its type.

In [11]:
type(firstrow)
firstrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
userId       1 non-null int64
movieId      1 non-null int64
tag          1 non-null object
timestamp    1 non-null int64
dtypes: int64(3), object(1)
memory usage: 112.0+ bytes

#III. Extract row 0, 11, 2000 from tags DataFrame.

In [13]:
tags.iloc[[0,11,2000], :]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

#V. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. 
#Verify using describe().

In [15]:
ratings = pd.read_csv('ml-20m/ratings.csv')
ratings.describe()

ratings.rating.count()
ratings.rating.mean()
ratings.rating.std()
ratings.rating.min()
ratings.rating.max()

             userId       movieId        rating     timestamp
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00  1.100918e+09
std    4.003863e+04  1.978948e+04  1.051989e+00  1.621694e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.439500e+04  9.020000e+02  3.000000e+00  9.667977e+08
50%    6.914100e+04  2.167000e+03  3.500000e+00  1.103556e+09
75%    1.036370e+05  4.770000e+03  4.000000e+00  1.225642e+09
max    1.384930e+05  1.312620e+05  5.000000e+00  1.427784e+09

#VI. Filter out ratings with rating > 5

In [18]:
ratingsmorethan5 = ratings[ratings.rating > 5]
ratingsmorethan5

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

#VII. Find how many null values, missing values are present. Deal with them.

In [3]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [5]:
tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [6]:
tags.dropna()

,userId,movieId,tag,timestamp
0,18,4141,Mark Waters,1240597180
1,65,208,dark hero,1368150078
2,65,353,dark hero,1368150079
3,65,521,noir thriller,1368149983
4,65,592,dark hero,1368150078
5,65,668,bollywood,1368149876
6,65,898,screwball comedy,1368150160
7,65,1248,noir thriller,1368149983
8,65,1391,mars,1368150055
9,65,1617,neo-noir,1368150217
10,65,1694,jesus,1368149925
11,65,1783,noir thriller,1368149983
12,65,2022,jesus,1368149925
13,65,2193,dragon,1368151314
14,65,2353,conspiracy theory,1368151266
15,65,2662,mars,1368150055
16,65,2726,noir thriller,1368149983
17,65,2840,jesus,1368149925
18,65,3052,jesus,1368149926
19,65,5135,bollywood,1368149876
20,65,6539,treasure,1368149949
21,65,6874,dark hero,1368150079
22,65,7013,noir thriller,1368149983
23,65,7318,jesus,1368149925
24,65,8529,stranded,1368150012
25,65,8622,conspiracy theory,1368151266
26,65,27803,Oscar (Best Foreign Language Film),1305008715
27,65,27866,New Zealand,1304957153
28,65,48082,surreal,1304958354
29,65,48082,unusual,1304958359
...,...,...,...,...
465534,138436,81932,big hair,1298754654
465535,138436,81932,Mark Wahlberg,1298754636
465536,138436,81932,pigs,1298754658
465537,138436,81932,prostitution,1298754620
465538,138437,77154,"This movie should have been called ""How Cocain...",1357384633
465539,138446,317,Christmas,1358983914
465540,138446,317,funny,1358983914
465541,138446,317,Judge Reinhold,1358983914
465542,138446,317,Tim Allen,1358983914
465543,138446,317,whiny kid,1358983946
465544,138446,837,family friendly,1358983693
465545,138446,918,halloween scene,1358984062
465546,138446,918,quirky,1358984051
465547,138446,2396,topless scene,1358973995
465548,138446,3086,Christmas,1358983979
465549,138446,3086,classic,1358983979
465550,138446,3086,funny,1358983979
465551,138446,3086,scary,1358984001
465552,138446,3489,Peter Pan,1358983822
465553,138446,3489,soundtrack,1358983822
465554,138446,3489,visually appealing,1358983822
465555,138446,7045,family friendly,1358983660
465556,138446,7045,Scary Movies To See on Halloween,1358983660
465557,138446,7164,Peter Pan,1358983855
465558,138446,7164,visually appealing,1358983855
465559,138446,55999,dragged,1358983772
465560,138446,55999,Jason Bateman,1358983778
465561,138446,55999,quirky,1358983778
465562,138446,55999,sad,1358983772
465563,138472,923,rise to power,1194037967

#VIII. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [7]:
movies = pd.read_csv('ml-20m/movies.csv')

In [8]:
animatmovies = movies.genres.str.find("Animation")
animation = movies[animatmovies > 0]
animation

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
360,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
388,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation
553,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children|Fantasy
582,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
604,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi
624,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
653,661,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
664,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
697,709,Oliver & Company (1988),Adventure|Animation|Children|Comedy|Musical
708,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
871,888,Land Before Time III: The Time of the Great Gi...,Adventure|Animation|Children|Musical
1011,1030,Pete's Dragon (1977),Adventure|Animation|Children|Musical
1013,1032,Alice in Wonderland (1951),Adventure|Animation|Children|Fantasy|Musical
1197,1223,"Grand Day Out with Wallace and Gromit, A (1989)",Adventure|Animation|Children|Comedy|Sci-Fi
1246,1274,Akira (1988),Action|Adventure|Animation|Sci-Fi
1372,1405,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime
1515,1566,Hercules (1997),Adventure|Animation|Children|Comedy|Musical
1631,1688,Anastasia (1997),Adventure|Animation|Children|Drama|Musical
1797,1881,Quest for Camelot (1998),Adventure|Animation|Children|Fantasy|Musical
1823,1907,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
1949,2033,"Black Cauldron, The (1985)",Adventure|Animation|Children|Fantasy
1964,2048,"Great Mouse Detective, The (1986)",Action|Animation|Children|Crime
2001,2085,101 Dalmatians (One Hundred and One Dalmatians...,Adventure|Animation|Children
2005,2089,"Rescuers Down Under, The (1990)",Adventure|Animation|Children
2006,2090,"Rescuers, The (1977)",Adventure|Animation|Children|Crime|Drama
2008,2092,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|R...
2015,2099,Song of the South (1946),Adventure|Animation|Children|Musical
2032,2116,"Lord of the Rings, The (1978)",Adventure|Animation|Children|Fantasy
...,...,...,...
25360,119782,FernGully 2: The Magical Rescue (1998),Adventure|Animation|Children|Fantasy
25403,120128,Everything I Can See From Here (2013),Adventure|Animation|Drama|Sci-Fi
25417,120222,Foodfight! (2012),Action|Animation|Children|Comedy
25507,120781,Nocturna (2007),Adventure|Animation|Children|Fantasy|Mystery
25608,121115,Tarzan (2013),Adventure|Animation|Children|Drama
25782,122129,Scooby-Doo! Camp Scare (2010),Adventure|Animation|Children|Comedy|Mystery
25816,122300,The Land Before Time VII: The Stone of Cold Fi...,Adventure|Animation|Children|Fantasy
25825,122335,The Land Before Time IX: Journey to the Big Wa...,Adventure|Animation|Children
25833,122413,The Land Before Time VIII: The Big Freeze (2001),Adventure|Animation|Children
25836,122425,The Land Before Time X: The Great Longneck Mig...,Adventure|Animation|Children
26049,124867,Justice League: Throne of Atlantis (2015),Action|Animation
26053,124919,The Wind in the Willows (1995),Adventure|Animation|Children|Comedy
26164,125926,Kiwi! (2006),Action|Animation
26360,126733,Help! I'm A Fish (2001),Adventure|Animation|Comedy
26368,126749,Babar The Movie (1989),Adventure|Animation|Children|Fantasy
26391,126921,The Fox and the Hound 2 (2006),Adventure|Animation|Children|Comedy
26407,126953,The Fabulous Baron Munchausen (1962),Adventure|Animation|Fantasy
26714,128540,The Gruffalo's Child (2011),Adventure|Animation|Children|Fantasy
26907,129370,"SpongeBob Movie: Sponge Out of Water, The (2015)",Adventure|Animation|Children|Comedy
26995,129779,Ghost in the Shell Arise - Border 1: Ghost Pai...,Action|Animation|Sci-Fi
27006,129826,LEGO DC Comics Super Heroes: Justice League vs...,Action|Adventure|Animation|Children
27070,130075,Frozen Fever (2015),Adventure|Animation
27107,130402,Cardcaptor Sakura: The Sealed Card (2000),Adventure|Animation|Comedy|Fantasy|Romance
27129,130506,Berserk: The Golden Age Arc 2 - The Battle for...,Action|Animation|Fantasy
27130,130508,Berserk: The Golden Age Arc - The Egg of the K...,Action|Adventure|Animation|Fantasy|Horror
27131,130510,Berserk: The Golden Age Arc 3 - Descent (2013),Action|Animation|Fantasy
27135,130518,The Amazing Screw-On Head (2006),Action|Adventure|Animation|Comedy|Sci-Fi
27208,131066,Ronal the Barbarian (2011),Adventure|Animation|Fantasy
27221,131092,"Mickey, Donald, Goofy: The Three Musketeers (2...",Adventure|Animation|Children|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy

#IX. Find the average rating of movies.

In [9]:
avgrating = pd.concat([pd.DataFrame(ratings), pd.DataFrame(movies)], axis = 1)
avgrating.groupby('title')['rating'].agg({'Avg.rating' : np.mean})

C:\Users\Anu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

                                                    Avg.rating
title
"Great Performances" Cats (1998)                           3.0
#chicagoGirl: The Social Network Takes on a Dic...         2.0
$ (Dollars) (1971)                                         3.0
$5 a Day (2008)                                            2.5
$9.99 (2008)                                               5.0
$ellebrity (Sellebrity) (2012)                             3.0
'71 (2014)                                                 5.0
'Hellboy': The Seeds of Creation (2004)                    3.5
'Human' Factor, The (Human Factor, The) (1975)             5.0
'Neath the Arizona Skies (1934)                            1.5
'R Xmas (2001)                                             4.0
'Round Midnight (1986)                                     4.5
'Salem's Lot (2004)                                        3.0
'Til There Was You (1997)                                  4.0
'Twas the Night Before Christmas (1974)                    3.0
'burbs, The (1989)                                         4.0
'night Mother (1986)                                       2.0
(500) Days of Summer (2009)                                3.0
(A)sexual (2011)                                           1.0
(Absolutions) Pipilotti's Mistakes ((Entlastung...         2.0
(Untitled) (2009)                                          2.0
*batteries not included (1987)                             3.0
+1 (2013)                                                  4.0
...All the Marbles (California Dolls, The) (1981)          5.0
...And God Spoke (1993)                                    4.0
...And Justice for All (1979)                              3.0
...tick... tick... tick... (1970)                          3.0
.45 (2006)                                                 1.0
009 Re: Cyborg (2012)                                      4.0
1 (2013)                                                   3.0
...                                                        ...
Zozo (2005)                                                3.5
Zu: Warriors from the Magic Mountain (Xin shu s...         3.0
Zulu (1964)                                                2.0
Zulu (2013)                                                4.0
Zulu Dawn (1979)                                           2.0
Zus & Zo (2001)                                            4.0
Zuzu Angel (2006)                                          3.5
[REC] (2007)                                               2.0
[REC] 4: Apocalypse (2014)                                 4.0
[REC]Â² (2009)                                              4.0
[REC]Â³ 3 GÃ©nesis (2012)                                    4.0
a/k/a Tommy Chong (2005)                                   4.0
alaskaLand (2013)                                          4.5
eXistenZ (1999)                                            5.0
i hate myself :) (2013)                                    5.0
iSteve (2013)                                              3.0
loudQUIETloud: A Film About the Pixies (2006)              3.0
xXx (2002)                                                 2.0
xXx: State of the Union (2005)                             2.5
Â¡Alambrista! (Illegal, The) (1977)                         4.0
Â¡QuÃ© hacer! (1970)                                         4.0
Â¡Three Amigos! (1986)                                      3.0
Ã€ l'aventure (2008)                                        3.0
Ã€ nos amours (1983)                                        5.0
Ã€ nous la libertÃ© (Freedom for Us) (1931)                  3.0
Ã€ propos de Nice (1930)                                    1.5
Ãrido Movie (2005)                                         5.0
Ã…sa-Nisse - WÃ¤lkom to Knohult (2011)                       4.0
Ãœvegtigris (2001)                                          4.0
è²žå­3D (2012)                                                3.0

[27262 rows x 1 columns]

#X. Perform an inner join of movies and tags based on movieId.

In [10]:
pd.merge(movies, tags, how = "inner", on = "movieId")

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃƒÂ©a Leoni does not star in this movie,1245093573
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2299,Pixar,1403306852
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,animation,1290312028
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,family,1290312032
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,Tom Hanks,1290312036
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6233,Pixar,1387079572
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6233,witty,1387079576
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8219,Pixar,1159534063
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,adventure,1277357423
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,animated,1277357419
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,animation,1277357417
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,clever,1277357438
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,comedy,1277357433
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,computer animation,1277357405
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,family,1277357449
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,fantasy,1277357430
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,Tom Hanks,1277357411
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,bright,1173304070
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,DARING RESCUES,1173304095
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,fanciful,1173304058
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,HEROIC MISSION,1173304102
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,humorous,1173304049
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,light,1173304062
27,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,rousing,1173304074
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,TOYS COME TO LIFE,1173304091
29,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,UNLIKELY FRIENDSHIPS,1173304106
...,...,...,...,...,...,...
465534,131015,Hellgate (2011),Horror|Thriller,25978,Cary Elwes,1427585540
465535,131015,Hellgate (2011),Horror|Thriller,25978,Demons,1427585566
465536,131015,Hellgate (2011),Horror|Thriller,25978,Exorcism,1427585551
465537,131015,Hellgate (2011),Horror|Thriller,25978,Ghosts,1427585546
465538,131015,Hellgate (2011),Horror|Thriller,25978,Monks,1427585560
465539,131015,Hellgate (2011),Horror|Thriller,25978,nurse,1427585621
465540,131015,Hellgate (2011),Horror|Thriller,25978,psychic,1427585613
465541,131015,Hellgate (2011),Horror|Thriller,25978,slow,1427585575
465542,131015,Hellgate (2011),Horror|Thriller,25978,special effects,1427585690
465543,131015,Hellgate (2011),Horror|Thriller,25978,surfing,1427585592
465544,131015,Hellgate (2011),Horror|Thriller,25978,Thailand,1427585543
465545,131015,Hellgate (2011),Horror|Thriller,25978,William Hurt,1427585696
465546,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,Barcelona,1427641562
465547,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,exploitation,1427641559
465548,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,female football,1427641577
465549,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,football,1427641548
465550,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,Rome,1427641564
465551,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,shorts,1427641571
465552,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,soccer,1427641556
465553,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,transvestite,1427641589
465554,131054,Dinotopia: Quest for the Ruby Sunstone (2005),Children|Fantasy|Sci-Fi,88144,dinosaurs,1427654430
465555,131082,Playground (2009),(no genres listed),92885,documentary,1427654757
465556,131082,Playground (2009),(no genres listed),92885,Yoshitomo Nara,1427654856
465557,131164,Vietnam in HD (2011),War,54560,Vietnam War,1427667401
465558,131170,Parallels (2015),Sci-Fi,88738,alternate reality,1427732804
465559,131258,The Pirates (2014),Adventure,28906,bandits,1427745421
465560,131258,The Pirates (2014),Adventure,28906,Korea,1427745512
465561,131258,The Pirates (2014),Adventure,28906,mutiny,1427745542
465562,131258,The Pirates (2014),Adventure,28906,pirates,1427745419
465563,131258,The Pirates (2014),Adventure,28906,whale,1427745432

#XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [11]:
cmdgen = avgrating[(avgrating.genres =="Comedy") & (avgrating.rating > 4)]
cmdgen.head()

,userId,movieId,rating,timestamp,movieId,title,genres
142,1,5952,5.0,1112484619,144.0,"Brothers McMullen, The (1995)",Comedy
185,2,589,5.0,974820658,187.0,Party Girl (1995),Comedy
201,2,1748,5.0,974821014,203.0,"To Wong Foo, Thanks for Everything! Julie Newm...",Comedy
220,2,3450,5.0,974820846,223.0,Clerks (1994),Comedy
231,2,3927,5.0,974820748,234.0,Exit to Eden (1994),Comedy

#XII. Split 'genres' into multiple columns.

In [13]:
splitgenres = avgrating['genres'].str.split('|')
splitgenres.head(20)

0     [Adventure, Animation, Children, Comedy, Fantasy]
1                        [Adventure, Children, Fantasy]
2                                     [Comedy, Romance]
3                              [Comedy, Drama, Romance]
4                                              [Comedy]
5                             [Action, Crime, Thriller]
6                                     [Comedy, Romance]
7                                 [Adventure, Children]
8                                              [Action]
9                         [Action, Adventure, Thriller]
10                             [Comedy, Drama, Romance]
11                                     [Comedy, Horror]
12                     [Adventure, Animation, Children]
13                                              [Drama]
14                         [Action, Adventure, Romance]
15                                       [Crime, Drama]
16                                     [Drama, Romance]
17                                             [Comedy]
18                                             [Comedy]
19             [Action, Comedy, Crime, Drama, Thriller]
Name: genres, dtype: object

#XIII. Extract year from title e.g. (1995).

In [14]:
movies.title.str[-6:]

0        (1995)
1        (1995)
2        (1995)
3        (1995)
4        (1995)
5        (1995)
6        (1995)
7        (1995)
8        (1995)
9        (1995)
10       (1995)
11       (1995)
12       (1995)
13       (1995)
14       (1995)
15       (1995)
16       (1995)
17       (1995)
18       (1995)
19       (1995)
20       (1995)
21       (1995)
22       (1995)
23       (1995)
24       (1995)
25       (1995)
26       (1995)
27       (1995)
28       (1995)
29       (1995)
          ...
27248    (1999)
27249    (2011)
27250    (2006)
27251    (1966)
27252    (1999)
27253    (2002)
27254    (1991)
27255    (2009)
27256    (2014)
27257    (2011)
27258    (2009)
27259    (2014)
27260    (2015)
27261    (2013)
27262    (2014)
27263    (2014)
27264    (2015)
27265    (2014)
27266    (2010)
27267    (2011)
27268    (2000)
27269    (2003)
27270    (2006)
27271    (2000)
27272    (2001)
27273    (2007)
27274    (2002)
27275    (2014)
27276    (2001)
27277    (2014)
Name: title, Length: 27278, dtype: object

#XIV. Select rows based on timestamps later than 2015-02-01.

In [15]:
import time
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'],exact = True, unit = 's')
later = ratings[ratings['timestamp'] > '2015-02-01']
later

          userId  movieId  rating           timestamp
3534          31        1     3.0 2015-02-23 23:18:07
3535          31      110     5.0 2015-02-23 23:17:53
3536          31      260     5.0 2015-02-23 23:17:13
3537          31      364     3.0 2015-02-25 06:13:27
3538          31      527     0.5 2015-02-23 23:19:58
3539          31      588     3.0 2015-02-25 05:41:09
3540          31      594     2.5 2015-02-25 06:13:31
3541          31      616     4.0 2015-02-25 06:13:37
3542          31     1196     5.0 2015-02-23 23:17:15
3543          31     1197     3.0 2015-02-23 23:34:52
3544          31     1207     0.5 2015-02-23 23:34:38
3545          31     1210     5.0 2015-02-23 23:17:19
3546          31     1214     0.5 2015-02-23 23:19:34
3547          31     1270     4.0 2015-02-23 23:17:47
3548          31     2096     2.0 2015-02-25 06:13:50
3549          31     2571     4.5 2015-02-24 00:08:52
3550          31     2959     2.0 2015-02-23 23:34:18
3551          31     3300     5.0 2015-02-23 23:25:40
3552          31     3483     4.0 2015-02-23 23:53:45
3553          31     3555     3.0 2015-02-23 23:32:35
3554          31     3615     3.0 2015-02-23 23:30:07
3555          31     3624     3.0 2015-02-23 23:25:17
3556          31     3671     5.0 2015-02-23 23:23:39
3557          31     3751     4.0 2015-02-24 00:09:59
3558          31     3793     4.5 2015-02-23 23:31:02
3559          31     3916     4.5 2015-02-23 23:36:50
3560          31     4016     4.0 2015-02-23 23:26:30
3561          31     4022     2.0 2015-02-23 23:35:36
3562          31     4232     4.0 2015-02-23 23:28:02
3563          31     4299     3.0 2015-02-23 23:26:27
...          ...      ...     ...                 ...
19983952  138380   106072     4.5 2015-02-28 19:56:34
19983953  138380   106487     4.0 2015-02-28 19:55:05
19983954  138380   106489     4.0 2015-02-28 19:55:24
19983955  138380   106696     4.0 2015-02-28 19:56:04
19983956  138380   106782     4.5 2015-02-28 19:59:48
19983957  138380   106920     5.0 2015-02-28 19:55:07
19983958  138380   108190     3.5 2015-02-28 19:57:48
19983959  138380   109374     4.0 2015-02-28 19:48:17
19983960  138380   109487     4.5 2015-02-28 19:48:14
19983961  138380   110102     4.0 2015-02-28 19:53:44
19983962  138380   110553     4.0 2015-02-28 19:59:00
19983963  138380   111360     3.5 2015-02-28 19:58:46
19983964  138380   111362     4.0 2015-02-28 19:50:19
19983965  138380   111364     4.0 2015-02-28 19:58:16
19983966  138380   111759     3.5 2015-02-28 19:53:46
19983967  138380   112138     4.5 2015-02-28 19:58:21
19983968  138380   112290     3.0 2015-02-28 19:59:57
19983969  138380   112623     4.0 2015-02-28 19:57:14
19983970  138380   112852     5.0 2015-02-28 19:55:02
19983971  138380   114180     3.5 2015-02-28 19:59:29
19983972  138380   115210     3.5 2015-02-28 19:51:46
19983973  138380   115569     4.0 2015-02-28 19:48:22
19983974  138380   115617     4.5 2015-02-28 20:00:25
19990177  138414    72011     4.0 2015-02-25 16:03:22
19990189  138414    79139     3.0 2015-03-08 15:29:57
19990201  138414    83480     2.5 2015-03-06 23:08:29
19990229  138414    95309     4.0 2015-02-21 17:25:55
19990240  138414   100163     3.0 2015-03-03 21:49:43
19990256  138414   112183     5.0 2015-02-21 17:23:08
19990260  138414   117851     3.5 2015-02-24 07:25:30

[176136 rows x 4 columns]

#XV. Sort the tags DataFrame based on timestamp.

In [16]:
tags['timestamp'] = pd.to_datetime(tags['timestamp'],exact = True, unit = 's')
sortedtags = tags.sort_values(by = 'timestamp', ascending = True)
sortedtags

        userId  movieId                              tag           timestamp
333932  100371     2788                     monty python 2005-12-24 13:00:10
333927  100371     1732                    coen brothers 2005-12-24 13:00:36
333924  100371     1206                  stanley kubrick 2005-12-24 13:00:48
333923  100371     1193                   jack nicholson 2005-12-24 13:02:51
333939  100371     5004                    peter sellers 2005-12-24 13:03:19
333922  100371       47                   morgan freeman 2005-12-24 13:03:32
333921  100371       47                        brad pitt 2005-12-24 13:03:32
333936  100371     4011                        brad pitt 2005-12-24 13:03:51
333937  100371     4011                      guy ritchie 2005-12-24 13:03:51
333920  100371       32                     bruce willis 2005-12-24 13:04:02
333933  100371     2858                     kevin spacey 2005-12-24 13:04:26
333931  100371     2329                     fuckoff nazi 2005-12-24 13:05:08
333930  100371     2329                    edward norton 2005-12-24 13:05:08
333944  100371     6016                           brazil 2005-12-24 13:05:20
15903     3797      110                        overrated 2005-12-26 09:24:35
256663   75141     4642                         Terrible 2005-12-27 12:54:55
15926     3797     8573             Nonlinear Surrealism 2005-12-30 09:50:23
68928    16050    38886                             twee 2005-12-31 13:43:32
68924    16050    38886                         eighties 2005-12-31 13:43:32
68925    16050    38886                           family 2005-12-31 13:43:32
68926    16050    38886                         new york 2005-12-31 13:43:32
68927    16050    38886                        overrated 2005-12-31 13:43:32
68919    16050     7060                        christian 2005-12-31 14:28:21
68921    16050     7060                          musical 2005-12-31 14:28:21
68920    16050     7060                           kitsch 2005-12-31 14:28:21
68922    16050     7060                        religious 2005-12-31 14:28:21
68918    16050     6898                            harsh 2005-12-31 14:29:28
68916    16050     6898                          british 2005-12-31 14:29:28
68917    16050     6898                            drugs 2005-12-31 14:29:28
81444    20513    36529                            truth 2006-01-02 22:57:03
...        ...      ...                              ...                 ...
119997   28906   115149                          violent 2015-03-30 20:07:11
119991   28906   115149                    lack of story 2015-03-30 20:07:33
119993   28906   115149                     over the top 2015-03-30 20:07:40
119989   28906   115149                           cheesy 2015-03-30 20:07:54
405155  123297   128642                              CLV 2015-03-30 20:12:17
399877  123297     4211                              CLV 2015-03-30 20:18:29
400993  123297     6419                              CLV 2015-03-30 20:21:04
401017  123297     6481                              CLV 2015-03-30 20:27:00
405123  123297   118722                              CLV 2015-03-30 20:28:41
400106  123297     4573                              CLV 2015-03-30 20:31:02
150873   42640   115122                     mockumentary 2015-03-30 20:52:58
150871   42640   115122                           comedy 2015-03-30 20:53:17
150872   42640   115122                      dark comedy 2015-03-30 20:53:28
392905  122523     5004                              USA 2015-03-30 21:51:29
392904  122523     5004                            party 2015-03-30 21:51:32
290536   88044   106782              unsatisfying ending 2015-03-30 22:03:20
290534   88044   106782                           Orgies 2015-03-30 22:05:11
290529   88044   106782                             ENFP 2015-03-30 22:05:47
290532   88044   106782             Left-Wing Propaganda 2015-03-30 22:07:46
290533   88044   106782                Left-Wing Writers 2015-03-30 22:13:41
290528   88044   106782  Economically Illiterate Writers 2015-03-30 22:15:39
290530   88044   106782                       inaccurate 2015-03-30 22:16:46
290531   88044   106782                       Jonah Hill 2015-03-30 22:17:29
290526   88044   106782                           Amoral 2015-03-30 22:18:33
290527   88044   106782                            crime 2015-03-30 22:18:41
290535   88044   106782                        profanity 2015-03-30 22:21:36
288375   87797      215                           Vienna 2015-03-30 22:50:01
158763   46072     3409                      premonition 2015-03-31 00:12:06
158780   46072     6058                      premonition 2015-03-31 00:12:44
339178  102853   115149                    russian mafia 2015-03-31 03:09:12

[465564 rows x 4 columns]

#5.Write a program in Python with one class called Cipher.

In [ ]:
# Vigenere Cipher program

class Cipher:
    """Vigenere Cipher program."""

    def __init__(self, message, key):
        self.message = message
        self.key = key

    def __str__(self):
        print("Vigenere Cipher program.")

    def __encrypt(self):
        encrypted = ""
        i = 0
        for letter in self.message:
            if ord(letter) + self.key[i] > 90:
                new_key = ord(letter) + self.key[i] - 90
                new_letter = chr(64 + new_key)
                encrypted += new_letter
                i += 1
                if len(self.key) == i:
                    i = 0
            else:
                encrypted += (chr(ord(letter) + self.key[i]))
                i += 1
                if len(self.key) == i:
                    i = 0
        return encrypted

    def __decrypt(self):
        decrypted = ""
        i = 0
        for letter in self.message:
            if ord(letter) - self.key[i] < 65:
                new_key = 65 - (ord(letter) - self.key[i])
                new_letter = chr(91 - new_key)
                decrypted += new_letter
                i += 1
                if len(self.key) == i:
                    i = 0
            else:
                decrypted += chr(ord(letter) - self.key[i])
                i += 1
                if len(self.key) == i:
                    i = 0
        return decrypted

def get_message():
    userMessage = ""
    final_message = ""
    flag = True
    while flag:
        userMessage = input("\nYour message: ")
        if len(userMessage) < 1:
            print("\nYou must enter something!")
            continue
        userMessage = userMessage.replace(" ", "")
        for i in range(len(userMessage)):
            if not userMessage[i].isalpha():
                continue
            else:
                final_message += userMessage[i]
        if len(final_message) < 1:
            continue
        else:
            flag = False
    return final_message.upper()

def get_key():
    userKey = ""
    keys = []
    final_keys = []
    flag = True
    while flag:
        userKey = input("\nYour key: ")
        if len(userKey) < 1:
            print("You must enter something!")
            continue
        userKey = userKey.replace(" ", "")
        for i in range(len(userKey)):
            if not userKey[i].isalpha():
                continue
            else:
                keys.append(ord(userKey[i].upper()))
                final_keys.append(keys[i] - 64)
        if len(final_keys) < 1:
            continue
        flag = False
    return final_keys

def encrypt_or_decrypt():
    userChoice = ""
    flag = True
    while flag:
        userChoice = input("\nEncrypt or decrypt? (E/D): ")
        if userChoice not in ("e", "E", "d", "D"):
            continue
        else:
            flag = False
    return userChoice

if __name__ == "__main__":
    flag = True
    while flag:
        userChoice = encrypt_or_decrypt()
        message = get_message()
        key = get_key()
        cipher = Vigenere(message, key)
        if userChoice in ("e", "E"):
            encrypted = cipher._Vigenere__encrypt()
            print(encrypted)
        else:
            decrypted = cipher._Vigenere__decrypt()
            print(decrypted)
        userInput = input("\nAgain? (Y/N): ")
        while userInput not in ("y", "Y", "n", "N"):
            userInput = input("\nAgain? (Y/N): ")
        if userInput in ("y", "Y"):
            continue
        elif userInput in ("n", "N"):
            print("Exiting.")
            flag = False
    input("\n\nPress the enter key to exit.")